# APP
SERVER_PORT=<server_port>
APP_ENV=development

# DB
DB_HOST=localhost
DB_USER=<db_username>
DB_PASSWORD=<db_password>
DB_NAME=<db_name>
DB_PORT=<db_port>

# JWT
JWT_SECRET_KEY=<jwt_secret_key>

# SMTP EMAIL
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SENDER_NAME="E-Shop Admin"
SMTP_AUTH_EMAIL=<auth_email>
SMTP_AUTH_PASSWORD=<auth_password>

# PROXIES
TRUSTED_PROXIES=127.0.0.1

# CORS
CORS_ALLOWED_ORIGINS=http://127.0.0.1:8001,http://127.0.0.1:5500